auto-save-list/
custom-vars.el
.mc-lists.el
tree-sitter/
recentf.eld
mc-lists.el
auto-saves/
places.eld
lisp/*.elc
eln-cache/
transient/
devdocs/
history
recentf
eshell/
.cache/
.tutor/
elpaca
places
mason/
tramp
